@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}
@font-face {
  font-family: MPLUSRounded1c-Bold;
  src: url("../fonts/MPLUSRounded1c-Bold.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: DarumadropOne-Regular;
  src: url("../fonts/DarumadropOne-Regular.ttf");
}